.idea/
frontend/
node_modules/
package-lock.json
yarn.lock

.clasp.json
.clasp.staging.json
.clasp.production.json
.clasp.local.json

src/env.ts
src/env.local.ts
src/env.staging.ts
src/env.production.ts

bin/.env
coverage/
